/*
v1.
    Azul: #368ee0
    Azul oscuro: #1c5f9e
v2.
    Azul: #6B297E
    Azul oscuro: #461D58
*/

.colorprincipal {
    background-color:#368ee0 !important;
}

.m-portlet--skin-dark {
    background-color:#368ee0 !important;
}

/* SOBREESCRIBIR COLORES POR DEFECTO */
.btn-info {
    /*background-color: #6B297E !important;*/
    /*border-color: #6B297E !important;*/
}
.btn-secondary {
    /*background-color: #a8a7c1 !important;*/
    /*border-color: #a8a7c1 !important;*/
    /*color: #fff !important;*/
}

.btn-danger, .alert-danger {
    /*background-color: #C6032F !important;*/
    /*border-color: #C6032F !important;*/
}
.btn-success {
    /*background-color: #FF6501  !important;*/
    /*border-color: #FF6501  !important;*/
}
.btn-focus {
    background-color: #368ee0 !important;
    color: #fff !important;
    border-color: #368ee0 !important;
}
.btn-focus.m-btn--air, .btn-outline-focus.m-btn--air {
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
}

.opciones > .btn {
    padding: .65rem 0.7rem !important;
}

.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__quick-actions.m-topbar__quick-actions--img.m-dropdown--arrow .m-dropdown__arrow, .m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {
    color: #368ee0 !important;
}
.m--font-brand, .m-link, .m-link:hover, .m-nav-grid .m-nav-grid__row .m-nav-grid__item .m-nav-grid__text {
    color: #368ee0 !important;
    border: none !important;
}
.m-header-search .m-header-search__icon-search>i, .m-topbar .m-topbar__nav.m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon .m-nav__link-icon-wrapper>i, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile>.m-nav__link .m-topbar__welcome, .m-topbar__username:hover, .m-menu__link-text {
    color: #fff !important;
}
.m-badge.m-badge--danger {
    background-color: #fff !important;
}
.m-header .m-header__top, .m-brand {
    background-color: #368ee0 !important;
}
.m-header .m-header__bottom {
    background-color: #1c5f9e !important;
    color: #fff !important;
}
.m-menu__item-here {
    color: #1c5f9e !important;
}
.m-header-search__wrapper {
    background-color: #368ee0 !important;
}
.m-header-search__input {
    color: #fff !important;
}

.m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__heading, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav>.m-menu__item:hover>.m-menu__link {
    background-color: #1c5f9e !important;
}

/* MENU NOTIFICACIONES
.m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__user-profile.m-topbar__user-profile--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__notifications.m-topbar__notifications--img.m-dropdown--arrow .m-dropdown__arrow, .m-topbar .m-topbar__nav.m-nav>.m-nav__item.m-topbar__quick-actions.m-topbar__quick-actions--img.m-dropdown--arrow .m-dropdown__arrow, .m-nav>.m-nav__item>.m-nav__link .m-nav__link-icon {
    color: #fff !important;
} */

.logo {
    height: 75px !important;
}
/* vue.js */
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}

/* paginacion */
ul.pagination {
    text-align: center;
    width: 100%;
}
ul.pagination li {
    padding: 15px;
    text-align: center;
    width: 15px;
}
ul.pagination li a {
    /*color: #6B297E;*/
    font-weight: bold;
}
label {
    text-transform: capitalize !important;
}
.mayusculas {
    text-transform: uppercase !important;
}

/* Menu Responsive */
@media (max-width: 992px) {
    .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__heading, .m-aside-header-menu-mobile.m-aside-header-menu-mobile--skin-light .m-menu__nav>.m-menu__item.m-menu__item--active>.m-menu__link {
        background-color: #1c5f9e !important;
    }
    .m-aside-header-menu-mobile-close.m-aside-header-menu-mobile-close--skin-light {
        background-color: #1c5f9e !important;
    }
    .m-aside-header-menu-mobile-close.m-aside-header-menu-mobile-close--skin-light>i, .m-brand__icon .m--visible-tablet-and-mobile-inline-block > .flaticon-more, .m-brand .m-brand__tools .m-brand__icon:hover>i, .m-brand .m-brand__tools .m-brand__icon>i {
        color: white !important;

    }
    .m-brand .m-brand__tools .m-brand__toggler span, .m-brand .m-brand__tools .m-brand__toggler span::after, .m-brand .m-brand__tools .m-brand__toggler span::before {
        background-color: white !important;
    }

    .logo {
        height: 60px !important;
    }

    #m_quicksearch {
        display: none !important;
    }
    .opciones {
        display: inline-block !important;
        overflow-x: hidden;
        margin: 0;
        vertical-align: top !important;
        width: 80px;
    }
    .opciones > .btn {
        padding: .55rem !important;
    }
}
.titulares {
    text-transform: capitalize !important;
}
.m-widget11 .table tbody>tr>td {
    font-size: 1rem !important;
    font-weight: normal !important;
}
.m-widget11 .table tbody>tr {
    /*border-bottom: .07rem solid #A8A7C1 !important;*/
}
/* Full Width */
.m-container.m-container--responsive.m-container--xxl {
    width: 100% !important;
}

/* VUE components */
.arrow {
  display: inline-block;
  vertical-align: middle;
  width: 0;
  height: 0;
  margin-left: 5px;
  opacity: 0.66;
}

.arrow.asc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #fff;
}

.arrow.dsc {
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #fff;
}
.destacar {
    text-decoration: underline;
    text-decoration-style: dotted;
    
}

#m_quicksearch_input::-webkit-input-placeholder{ /* Chrome */
    color: white !important;
}
#m_quicksearch_input::-moz-placeholder{ /* FF19 */
    color: white !important;
}
#m_quicksearch_input:-moz-placeholder { /* FF18 */
    color: white !important;
}
 #m_quicksearch_input:-ms-input-placeholder{ /* IE 10+ */
    color: white !important;
}

/* conectado */
.conectado {
		position:relative;
	}
.conectado[data-badge]:after {
	content:attr(data-badge);
	position:absolute;
	top:-10px;
	right:0;
	font-size:.7em;
	background:green;
	color:white;
	width:18px;height:18px;
	text-align:center;
	line-height:18px;
	border-radius:50%;
	box-shadow:0 0 1px #333;
}